body {
	font-family: "Open Sans", sans-serif;
	background-color: #fff;

	/* Remove this when we're done. */
	padding-bottom: 5000px;
}

/*Page sections*/
.pageSection {

}

/*Page section overrides*/
.pageSection--about {
	background-color: #F7DAB7;	
}


.pageSection__paragraph {
	line-height: 1.8;
	text-align: justify;
}


.pageSection__container {
	width: 810px;
	margin: 0 auto;
	padding: 30px 0;
}

.pageSection__title {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding: 10px 10px 30px;
	letter-spacing: 2px;

	margin-left: -100px;
}

.pageSection__title::before {
	/* Adds a line before the title */
	width: 100px;
    height: 1px;
    background-color: #000;
    content: '';
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 10px;
}



/* Top nav! */
.topNav {
	display: flex;
	flex-direction: row;
	width: 100%; 
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.95); 

	/*Make header sticky*/
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;

}
.topNav__item {
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 2px;
	text-align: center;
	border-bottom: 3px solid transparent;
	font-size: 12px;
	margin: 0 10px;
}

.topNav__link {
	display: block;
	padding: 16px;
	color: #000;
	text-decoration: none;
}


.topNav__item--withBorder {
	transition: 0.5s border-bottom;
}
.topNav__item--withBorder:hover {
	border-bottom: 3px solid #000000;
}

.topNav__item--heading {
	font-size: 16px;
	padding: 14px;
}

.topNav__item--heading a {
	transition: 0.3s color;
}
.topNav__item--heading:hover a {
	color: #FD8748;
}




/* Folio Grid :) */

.folioGrid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.folioGrid__item {
	position: relative;
	padding: 10px;

	/*width: 33%;*/
}

.folioGrid__info {
	position: absolute;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 250px;
	height: 200px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 2px;
	
	transition: 0.3s opacity;
}
.folioGrid__info:hover {
	opacity: 1;
}


.folioGrid__itemTitle {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.folioGrid__itemView {
	font-size: 10px;
	font-weight: light;
	margin-top: 15px;
}



