.carousel {
    background: #333;
    padding: 40px;
}

.carousel__itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel__item {
    display: none;
    transition: 0.05s ease-in-out opacity;
}

.carousel__item.active {
    display: block;
    opacity: 100%;
}

.carousel__item.fadeOut {
    opacity: 0;
}

.carousel__item.fadeIn {
    display: block;
    opacity: 0;
}

.carousel__itemImage {
    height: 500px;
}

.carousel__indicator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.carousel__indicatorButtonClickable {
    display: block;
    padding: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.carousel__indicatorButton {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(255,255,255,0.5);
    transition: 0.2s ease-in-out background-color;
}

.carousel__indicatorButtonClickable:hover .carousel__indicatorButton,
.carousel__indicatorButtonClickable.active .carousel__indicatorButton {
    background: white;
}
