.menubar {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menubar__items {
  display: flex;
}

.menubar__items--right  {
  align-self: flex-end;
}

.menubar__item {
  color: #999;
  margin: 0 10px;
  padding-bottom: 5px;
  transition: 0.3s color, 0.3s border;
  border-bottom: 1px solid transparent;
}

.menubar__item:first-child {
  margin-left: 0;
}

.menubar__item:last-child {
  margin-right: 0;
}


.menubar__item,
.menubar__item:visited,
.menubar__item:active {
  text-decoration: none;
}

.menubar__item--active {
  color: #555;
  border-bottom-color: #555;
}

.menubar__item:hover {
  color: #555;
  border-bottom-color: #555;
}

.menubar__item--accent {
  color: #EC8288;
}

.menubar__item--accent:hover {
  color: #EC8288;
  border-bottom-color: #EC8288;
}


