.pageContent {
    padding: 60px 0;
    font-size: 14px;
    /* width: 50%; */
    display: flex;
}

.pageContent--fullWidth {
    width: 100%;
}

.pageContent h1 {
    font-size: 24px;
    padding: 10px 0;
}

.pageContent h2 {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.58;
        color: #222;
      }

.pageContent h3 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 12px;
        line-height: 17.22px;
        color: #222;
      }

.pageContent p {
    padding: 10px 0;
    font-weight: 400;
    line-height: 1.58;
    font-size: 14px;
    color: #999;

}

.portfolio-details-list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 60px 30px;
    margin-top: 60px;
}

.portfolio-details-list label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 12px;
    display: block;
}

.portfolio-details-list span {
    display: block;
}

.pageAssets {
    width: 60%;
    margin-right: 100px;
}

.portfolio-main-info {
        margin-top: 76px;
}



/*     
    @media (min-width: 992px)
    .col-lg-push-1 {
    left: 8.33333%;

    @media (min-width: 992px)
    .col-lg-4 {
    -webkit-box-flex: 0;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; */
}
