/*

COLOURS
=======

Main Body     #555555
Light Body    #999999
Accent        #EC8288
Lighter Body  #EEEEEE

*/

@import 'reset.css';
@import 'menubar.css';
@import 'tiles.css';
@import 'footer.css';
@import 'page_listing.css';
@import 'page_content.css';
@import 'carousel.css';


body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.58;
  color: #999;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding-left: 150px;
  padding-right: 150px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .container {
    padding: 0 30px;
  }

  .menubar {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .pageContent {
    width: 100%;
  }

  .tileContent {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .tiles__column {
    flex-basis: 100%;
    padding: 0;
  }

  .tiles__tile {
    padding: 30px;
  }
}


@media screen and (max-width: 450px) {
  .menubar__items {
    width: 100%;
  }

  .menubar__items:not(:first-child) {
    margin-top: 15px;
  }
}
