
.tiles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.tiles--padded {
  padding-top: 70px;
}

.tiles__column {
  padding: 0px 15px;
  flex-basis: 50%;
  box-sizing: border-box;
}
.tiles__column--nCols1 {
  flex-basis: 100%;
}

.tiles__column:first-child {
  padding-left: 0px;
}
.tiles__column:last-child {
  padding-right: 0px;
}

.tiles__tile {
  padding: 50px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  background-image: linear-gradient(180deg, #ddd6f3 0%, #faaca8 100%);
}

.tiles__tile--introduction {
  font-weight: 500;
  font-size: 22px;
  background-image: none;
}

.tiles__tileLink {
  display: block;
}

.tiles__tileLink,
.tiles__tileLink:visited,
.tiles__tileLink:active {
  text-decoration: none;
  color: inherit;
}

.tiles__tile--pink {

}

.tiles__tileImage {
  width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  transition: 0.3s transform;
  background-color: white;
}

.tiles__tileImage:hover {
  transform: scale(1.05);
}



/* Animations! */

@keyframes tiles_tileAppear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tiles__tile {
  opacity: 0;
  will-change: transform;
  animation: 0.4s cubic-bezier(0.7, 1.3, 0.75, 1) forwards tiles_tileAppear;
}

.tiles__tile:nth-child(1) {
  animation-delay: 0.1s;
}

.tiles__tile:nth-child(2) {
  animation-delay: 0.2s;
}

.tiles__tile:nth-child(3) {
  animation-delay: 0.3s;
}

.tiles__tile:nth-child(4) {
  animation-delay: 0.4s;
}

.tiles__tile:nth-child(5) {
  animation-delay: 0.5s;
}

.tiles__tile:nth-child(6) {
  animation-delay: 0.6s;
}

.tiles__tile:nth-child(7) {
  animation-delay: 0.7s;
}
